
.gradle/8.8/executionHistory/executionHistory.bin
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/8.8/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
build/classes/java/main/com/translator/ikini/config/OpenAIConfig.class
build/classes/java/main/com/translator/ikini/controller/ChatGPTController.class
build/classes/java/main/com/translator/ikini/controller/HelloController.class
build/classes/java/main/com/translator/ikini/IkiniApplication.class
build/classes/java/main/com/translator/ikini/request/OpenAIMessage.class
build/classes/java/main/com/translator/ikini/request/OpenAIRequest.class
build/classes/java/main/com/translator/ikini/service/OpenAIService.class
build/classes/java/test/com/translator/ikini/IkiniApplicationTests.class
build/libs/ikini-0.0.1-SNAPSHOT-plain.jar
build/libs/ikini-0.0.1-SNAPSHOT.jar
build/reports/tests/test/classes/com.translator.ikini.IkiniApplicationTests.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/index.html
build/reports/tests/test/js/report.js
build/reports/tests/test/packages/com.translator.ikini.html
build/resolvedMainClassName
build/resources/main/application.properties
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
build/test-results/test/TEST-com.translator.ikini.IkiniApplicationTests.xml
build/tmp/bootJar/MANIFEST.MF
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/compileTestJava/previous-compilation-data.bin
build/tmp/jar/MANIFEST.MF
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
